<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja_JP</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QRコード</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-8125749202565849~5580224387</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>メディアライブラリへのアクセスのために使用されます</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetoothインターフェースへのアクセス（常に許可）のために使用されます</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetoothインターフェースへのアクセスのために使用されます</string>
	<key>NSCalendarsUsageDescription</key>
	<string>カレンダーへのアクセスのために使用されます</string>
	<key>NSCameraUsageDescription</key>
	<string>このアプリはQRコードをスキャンするためにカメラを使用します</string>
	<key>NSContactsUsageDescription</key>
	<string>連絡先へのアクセスのために使用されます</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>位置情報へのアクセス（常に許可）のために使用されます</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>位置情報へのアクセス（使用中のみ許可）のために使用されます</string>
	<key>NSMotionUsageDescription</key>
	<string>加速度計へのアクセスのために使用されます</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>このアプリはQRコードを保存するためにカメラロールにアクセスします</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>このアプリはQRコードを写真からスキャンするため、あるいはQRコードの作成時に写真を挿入するためにカメラロールにアクセスします</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech Recognition Serverへのユーザーデータ送信のために使用されます</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
